<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pokemon</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons">
        <td>
          {{ pokemon.id }}
        </td>
        <td>
          <img [src]="pokemon.sprite" alt="">
          {{ pokemon.name }}
        </td>
        <td>
          {{ pokemon.typeText }}
        </td>
      </tr>
    </tbody>
  </table>
</div>