<div class="container">
  <form [formGroup]="pokemonForm">
    <div class="input-group mt-2">
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Pesquisar">
      <div class="input-group-append" id="button-addon4">
        <button class="btn btn-outline-primary" type="button" (click)="pesquisar()">Pesquisar</button>
      </div>
    </div>
  </form>

  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col" sortable="name">Pokémon</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td style="width: 20px">
          <img [src]="pokemon.sprite" alt="VTNC" class="border">
        </td>
        <td>
          <strong>
            {{ pokemon.name }}
          </strong>
          <br>
          <strong>
            #{{ pokemon.id }}
          </strong>
          <br>
          <h5><span *ngFor="let type of pokemon.types" class="badge badge-secondary">
              {{ type.type.name }}
            </span></h5>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination  [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"></ngb-pagination>
</div>